<div id="offers_tabs" class="ui-tabs-minimal">
  <ul>
    <li><a href="#course-roles-tab" id="course_role_link">Offers</a></li>
    <li><a href="#account-roles-tab" id="account_role_link">Coupons</a></li>
  </ul>

  <div id="course-roles-tab" class="course-roles role-tab"></div>
  <div id="account-roles-tab" class="account-roles role-tab"></div>
</div>
